.dd_wdb li{position:absolute;width:140px;height:164px;}
.dd_wdb0{left:180px;top:61px!important}
.dd_wdb1{left:340px;top:61px!important}
.dd_wdb2{left:501px;top:61px!important}
.dd_wdb3{left:662px;top:61px!important}
.dd_wdb .pri{font-family: arial; font-weight: bold; font-size: 14px; color: rgb(0, 0, 0);}
.dd_wdb .ttl,.dd_wdb a:hover .ttl{text-decoration:none!important;cursor:pointer;padding-top:4px;font-family: arial; color: rgb(0, 35, 152); font-size: 12px;line-height:13px;overflow:hidden;width:140px;display:block}
.dd_wdb .poff{font-size: 12px; color: rgb(68, 134, 0); font-weight: normal;}
.dd_wdb a{text-decoration:none;}
.dd_wdb a:hover{text-decoration:none;}



.dd_widb li{position:absolute;width:140px;height:164px;}
.dd_widb0{left:308px;top:89px!important}
.dd_widb1{left:492px;top:28px!important}
.dd_widb2{left:657px;top:28px!important}

.dd_widb .pri{font-family: arial; font-weight: bold; font-size: 14px; color: rgb(0, 0, 0);}
.dd_widb .ttl,.dd_widb a:hover .ttl{padding-top:4px;font-family: arial; color: rgb(0, 35, 152); font-size: 12px;line-height:13px;overflow:hidden;width:140px;display:block;cursor:pointer;text-decoration:none !important;}

.dd_widb .poff{font-size: 12px; color: rgb(68, 134, 0); font-weight: normal;}
.dd_widb a{text-decoration:none;}
.dd_widb a:hover{text-decoration:none;}

.tme-w{width:244px;position:absolute;left:236px;top:25px;}
.tme-cnt{position:absolute;left:71px;top:20px;}
.tme-cnt span{display:inline-block;font-family:Trebuchet;font-size:24px;color:#fff;width:18px;height:18px;margin-right:1px;}
#mfbbtme-h2,#mfbbtme-m2{margin-right:0px;}
#mfbbtme-h1{padding-left:2px}
#mfbbtme-m1,#mfbbtme-s1{padding-left:6px}
.mfbbtme-h2,.mfbbtme-m2{margin-right:0px;}
.mfbbtme-h1{padding-left:2px}
.mfbbtme-m1,.mfbbtme-s1{padding-left:6px}